<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Charlie Melbye" />
 
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
 
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript"></script>

	<script type="text/javascript">
		function relative_time(time_value) {
		  var values = time_value.split(" ");
		  time_value = values[1] + " " + values[2] + ", " + values[5] + " " + values[3];
		  var parsed_date = Date.parse(time_value);
		  var relative_to = (arguments.length > 1) ? arguments[1] : new Date();
		  var delta = parseInt((relative_to.getTime() - parsed_date) / 1000);
		  delta = delta + (relative_to.getTimezoneOffset() * 60);

		  if (delta < 60) {
		    return 'less than a minute ago';
		  } else if(delta < 120) {
		    return 'about a minute ago';
		  } else if(delta < (60*60)) {
		    return (parseInt(delta / 60)).toString() + ' minutes ago';
		  } else if(delta < (120*60)) {
		    return 'about an hour ago';
		  } else if(delta < (24*60*60)) {
		    return 'about ' + (parseInt(delta / 3600)).toString() + ' hours ago';
		  } else if(delta < (48*60*60)) {
		    return '1 day ago';
		  } else {
		    return (parseInt(delta / 86400)).toString() + ' days ago';
		  }
		}
	
		$(function() {
			
			// GitHub Repo Listing
			var gh_limit = 5        // how many repos to list
			var github_login = 'cmelbye'   // your username

			var repos = [], repo_list = $('ul#repos')

			if( repo_list.length > 0 ) {
				repo_list.empty();
			
				$.getJSON('http://github.com/api/v2/json/repos/show/' + github_login + '?callback=?', function(data) {
					$.each(data.repositories, function() {
						// This is kind of ugly, but then again, so is having your GitHub
						// Pages repository be in your repo list.
						if (!this.fork && this.name != 'cmelbye.github.com') repos.push(this)
                    })

					repos.sort(function(a, b) {
						return b.watchers - a.watchers
                    })
				
                	$.each(repos.slice(0, gh_limit), function() {
                   		repo_list.append('<li><a href="' + this.url + '">' + this.name + ':</a> ' + this.description + '</li>');
                    })
                })
			}
			
			// Twitter
			var twitter_login = 'cmelbye'
			var t_limit = 3;
			
			var tweets = [], tweet_list = $('ul#tweets')
			
			if( tweet_list.length > 0 ) {
				tweet_list.empty();
				
				$.getJSON('http://twitter.com/statuses/user_timeline/' + twitter_login + '.json?count=' + t_limit + '&callback=?', function(data) {
					$.each(data, function() {
						var username = this.user.screen_name;
						var status = this.text.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g, function(url) {
							return '<a href="'+url+'">'+url+'</a>';
						}).replace(/\B@([_a-z0-9]+)/ig, function(reply) {
							return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
						});
						tweet_list.append('<li><span>' + status + '</span> <a style="font-size:85%" href="http://twitter.com/' + username + '/statuses/' + this.id + '">' + relative_time(this.created_at) + '</a></li>');
					});
				})
			}
   		})
	</script>
</head>
<body>
 
<div class="site">
  <div class="title">
    <a href="/">Charlie Melbye</a>
    <a class="extra" href="/">home</a>
	<a class="extra" href="http://github.com/cmelbye">repos</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Charlie Melbye<br />
		<a href="http://yourwiki.net/">YourWiki</a><br />
        charlie@yourwiki.net
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/cmelbye/">github.com/cmelbye</a><br />
        <a href="http://twitter.com/cmelbye/">twitter.com/cmelbye</a><br />
		<a href="http://github.com/cmelbye/cmelbye.github.com/">View Source</a>
      </p>
    </div>
	<div class="contact">
		<p><a href='http://www.catb.org/hacker-emblem/'>
			<img src='http://www.catb.org/hacker-emblem/glider.png' alt='hacker emblem' />
		</a></p>
	</div>
    <!--<div class="rss">
      <a href="http://feeds.feedburner.com/tom-preston-werner">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>-->
  </div>
</div>
 
<a href="http://github.com/cmelbye">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10954680-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
